.hero {
  background-image: url("../public/images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  background-image: url("../public/images/moon-landscape.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.subscribe {
  background-image: url("../public/images/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
